@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background: url(../imagens/fundo-madeira.jpg) center top no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}

section#telefone{
    background: url(../imagens/frame-iphone.png) center center no-repeat fixed;

    width: 273px;
    height: 543px;

position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}

iframe#tela{
    position: relative;
    width: 230px;
    height: 407px;
    left: 22px;
    top: 70px;

}

section#redes img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
    margin: 10px;
    box-sizing: border-box;

}

section#redes img:hover{
    border: 2px solid white;
    transform: translate(5px);
    width: 60px;
    box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.404);
    transition: transform .3s, .5s;

}
